* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Fira';
    src: url(fonte/FiraCode-VariableFont_wght.ttf);
}

body{
    font-family: 'Fira';
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 21%, rgba(70,64,64,1) 69%, rgba(113,106,106,1) 100%);
}

main{
    margin: 10px;
    padding: 10px;
    border: rgb(20, 20, 20) solid 2px;
    border-radius: 20px;
    max-width: 500px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
}

h1, h2{
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
}

h3, summary{
    font-size: 16px;
    text-align: justify;
    font-weight: 600;
    color: rgb(20, 20, 20);
    margin-bottom: 15px;
}

p{
    color: rgb(70, 64, 64);
    text-align: justify;
    margin-bottom: 15px;
    font-size: 14px;
}